# py_test_tutorial
Show you how to use pytest to unit test in python

install pytest (just for safety install in the tests directory and the parent directory just for safety if your project is modularized)
pip install pytest

create virtual environment
python -m venv venv

(Always activate your virtual enviroment before coding and also it is a good programming practice in python)

activate virtual environment 
.\venv\Scripts\Activate

check if pytest is installed
pytest --version